Package: com.bekes-505.github.io.jodelrootless
Name: Jodel EMPROVED Rootless
Description: اداة وظيفتها : يودل بلس و نسخ ولصق و رفع وتحميل الصور و تغيير الموقع و التخفي عند تصوير الشاشة
Maintainer: @B6_7E
Author: BekEs - بيكاس
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
Architecture: iphoneos-arm64
Version: 1.1.8
Installed-Size: 172
